Project_ Organize Invoices.json
{
  "name": "Project: Organize Invoices",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Invoices",
        "formDescription": "We analyze an invoice",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Invoice",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -640,
        208
      ],
      "id": "64287b70-99ba-4ba5-8549-b96b76998a3b",
      "name": "On form submission",
      "webhookId": "1370f2c5-3407-4999-aa2b-e1b1db248a2a"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Invoice",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -416,
        208
      ],
      "id": "b6420ea6-83c9-49d2-940f-ae1f16c824da",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the total price, unit price of each product and the quantity purchased for each product:  {{ $json.text }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -192,
        208
      ],
      "id": "359dca6d-fb35-49ce-bb28-a8d73ed20fc6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        432
      ],
      "id": "e5bf9db0-2559-4336-8977-0f8d905a509a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HH8RnGgdPlKVaKSX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"date\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"products\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -48,
        432
      ],
      "id": "30fb7f93-bbfc-4b24-ac7a-4b0ace92cb57",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pTFcA32SV0pWkMJYOd5TFXHktGHK-DwhTxnhl94NDYQ",
          "mode": "list",
          "cachedResultName": "InvoiceN8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTFcA32SV0pWkMJYOd5TFXHktGHK-DwhTxnhl94NDYQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pTFcA32SV0pWkMJYOd5TFXHktGHK-DwhTxnhl94NDYQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product": "={{ $json.description }}",
            "Price": "={{ $json.unit_price }}",
            "Quantity": "={{ $json.quantity }}",
            "Total": "={{ $json.total_price }}",
            "Date": "={{ $('Basic LLM Chain').item.json.output.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        384,
        208
      ],
      "id": "79275513-8948-4c05-a513-be37f3864ea8",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MwLEYqkPPCsvklfB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.products",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        208
      ],
      "id": "1d95c9fd-ba76-4420-bef5-122aceeddb63",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appLZNCgWZe6fMEFL",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://airtable.com/appLZNCgWZe6fMEFL"
        },
        "table": {
          "__rl": true,
          "value": "tbllIC42yVUUgesjT",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appLZNCgWZe6fMEFL/tbllIC42yVUUgesjT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total": "={{ $json.total_price }}",
            "Quantity": "={{ $json.quantity }}",
            "Price": "={{ $json.unit_price }}",
            "Product": "={{ $json.description }}",
            "Date": "={{ $('Basic LLM Chain').item.json.output.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ccb76849-640f-439e-b28b-5e113e7b94b0",
      "name": "Airtable",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e2e4a276-3383-4ab0-939c-69970c28d8d5",
  "meta": {
    "instanceId": "5c1af28f124f60998c2d95a606ebc06f31be0f2a26c0d4df2639d8a987bbf7a1"
  },
  "id": "4lLyyinVFe6C5ASA",
  "tags": []
}